// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #132457;
$yellow: #FDB631;
$orange: #E67E22;
$green: #00635D;
$gray: #000000;
$light-gray: #F9FAFD;
$navbar-gray: #D8DBE2;
$footer-gray: #A9BCD0;
