.banner {
  color: white;
  text-align: center;
  height: 60vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 100px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 1;
  margin-bottom: 30px;
}

.banner-search {
  background-color: rgba(0,0,0,.7);
  float: left;
  // width: 100%;
  margin: 0 auto;
  background-color: rgba(0,0,0,.7);
  padding: 3rem .625rem 4.5rem;
}

.images_petit {
  width: 70px;
  height: 70px;
}

.custom-checkbox {
  background-color: white;
  color: black;
  border: 1px solid ;
  padding: 5px;
  width: 200px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin: 2px;
  &:hover {
    background-color: #A9BCD0;
  }
}

.blue input[type="checkbox"] {
  display: none;
}


.blue input[type='checkbox']:checked + label .custom-checkbox {
  background-color: #132457;
  color: white;

}
