.avatar-small {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blueblue {
  background-color: #132457;
  color: white;
}

.booking-new {
  box-sizing: border-box;
  padding: 15px;
  background-color: white;
  margin: 15px;
  color: black;
}

.nameicon {
  align-items: center;
  display: flex;
  justify-content: center;
}

#user-icon {
  color: $yellow;
  font-size: 70px;
}


h1{
  text-align: center;
}

.user {
  box-sizing: border-box;
  padding: 15px;
  margin: 15px;
}

.header-details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.white-wrapper {
  background-color: white;
  width: 100;
}

.margin {
  margin: 15px;
}
