.footer {
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  bottom: 0px;
}

.reseaux-sociaux {
  padding: 0px 25px;
  margin-top: 25px;

  a {
    color: white;

    &:hover {
      color: white;
    }
  }
}

.copyright {
  color: white;
  padding: 0px 25px;
  margin-top: 25px;
}

.pages {
  // padding: 15px 15px;
  margin-top: 15px;
  display: flex;
  text-align: center;
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: white;
    display: flex;
    &:hover {
      color: white;
    }
  }
}
