
<%= render '/layouts/banner', categories: @categories %>

<div class="container">
  <div class="row">
    <% @boats.each do |boat| %>
      <div class="col-xs-12 col-sm-4">
        <%= render "boats/boat", boat: boat %>
      </div>
    <% end %>
  </div>
</div>
