<h1>Votre recherche</h1>
<% if @message != "" %>
  <p><%= @message %></p>
<% end %>

<div class="container">
  <div class="row">
    <% @boats.each do |boat| %>
      <div class="col-xs-12 col-sm-4">
        <%= render "boats/boat", boat: boat %>
      </div>
    <% end %>
  </div>
</div>
