<h1>Votre recherche</h1>
<div class="container">
  <div class="row">

      <% @boats.each do |boat| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= boat.name %>
      <%= image_tag "#{boat.photo}" %>
      <%= link_to "voir", boat_path(boat) %>
    </div>
      <% end %>
  </div>
</div>
