<h1>Votre recherche</h1>
<div class="container">
  <div class="row">

      <% @boats.each do |boat| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= boat.name %>
      <%= link_to "voir", boat_path(boat) %>
    </div>
    <% end %>


  </div>
</div>







    <% @boats.each do |boat| %>

      <%= boat.name %>
      <%= link_to "voir", boat_path(boat) %>

    <% end %>


